<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: violet;">
    <center>
        <h1 style="background-color: indigo; colour: red">AADHI</h1>
    </center>
    <h1>Aadi is a 2002 Indian Telugu-language action drama film written and directed by debutant V. V. Vinayak. The film stars N. T. Rama Rao Jr. and Keerthi Chawla. The film was a huge commercial success and was remade in Tamil as Jai and in Bengali as Surya. The film won four Nandi Awards and was released in 118 centres and ran for 100 days in 96 centres.[1]</h1>
    <center style="color: rgb(255, 136, 0);">
        <h1><a href="{% url 'ntr:temper' %}">go to temper</a></h1>
        <h1><a href="{% url 'aarya' %}">go to aarya </a></h1>
        <h1><a href="{% url 'bunny' %}">go to bunny</a></h1>
        <h1><a href="{% url 'chirutha' %}">go to chirutha</a></h1>
        <h1><a href="{% url 'dhruva' %}">go to dhruva</a></h1>
    </center>
</body>
</html>