<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: indigo:">
    <center>
        <h1 style="background-color: green; color:gold">AARYA</h1>
    </center>
    <h1 style="color: rgb(247, 79, 13);">Arya is a 2004 Indian Telugu-language romantic action film written and directed by debutant Sukumar. Produced by Dil Raju under Sri Venkateswara Creations banner, the film stars Allu Arjun, Anu Mehta, and Siva Balaji. The music is composed by Devi Sri Prasad and cinematography is handled by R. Rathnavelu. The plot revolves around Aarya, an outgoing and free-spirited boy falling in love with Geetha, an introverted girl who is on the shield of another person Ajay.</h1>
    <center>
        <h1><a href="{% url 'ntr:aadhi' %}">go to aadhi</a></h1>
        <h1><a href="{% url 'chirutha' %}">go to chirutha</a></h1>
        <h1><a href="{% url 'bunny' %}">go to bunny</a></h1>
        <h1><a href="{% url 'dhruva' %}">go to dhruva</a></h1>
        <h1><a href="{% url 'ntr:temper' %}">go to temper</a></h1>
    </center>
</body>
</html>