<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: greenyellow;">
    <center>
        <h1 style="background-color: red; color:white">CHIRUTHA</h1>
    </center>
    <h1>Chirutha (transl. Cheetah) is a 2007 Indian Telugu-language action film written and directed by Puri Jagannadh, and produced by C. Ashwini Dutt under the banner Vyjayanthi Movies. The film stars Ram Charan, Neha Sharma, Prakash Raj and Ashish Vidyarthi while Tanikella Bharani, Sayaji Shinde, Daniel Balaji and Brahmanandam play supporting roles. Ram Charan and Neha Sharma make their debuts. The film revolves around Charan, a young man in pursuit of a gangster who murdered his parents.</h1>
    <center>
        <h1><a href="{% url 'ntr:aadhi' %}">go to aadhi</a></h1>
        <h1><a href="{% url 'aarya' %}">go to aarya</a></h1>
        <h1><a href="{% url 'bunny' %}">go to bunny</a></h1>
        <h1><a href="{% url 'dhruva' %}">go to dhruva</a></h1>
        <h1><a href="{% url 'ntr:temper' %}">go to temper</a></h1>
    </center>
</body>
</html>