<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: yellow;">
    <center>
        <h1 style="background-color: red;">DHRUVA</h1>
    </center>
    <h1 style="color: blue;">Dhruva is a 2016 Indian Telugu-language action thriller film[3] directed by Surender Reddy and produced by Allu Aravind under his banner Geetha Arts. It features Ram Charan in the titular role, along with Aravind Swamy, Rakul Preet Singh, and Navdeep in important roles. A remake of the Tamil film Thani Oruvan (2015), it follows Dhruva, an IPS officer who wants to arrest Siddharth Abhimanyu, a wealthy scientist, who uses secret medical and illegal practices for profit.[4]</h1>
    <center>
        <h1><a href="{% url 'ntr:aadhi' %}">go to aadhi</a></h1>
        <h1><a href="{% url 'aarya' %}">go to aarya</a></h1>
        <h1><a href="{% url 'bunny' %}">go to bunny</a></h1>
        <h1><a href="{% url 'chirutha' %}">go to chirutha</a></h1>
        <h1><a href="{% url 'ntr:temper' %}">go to temper</a></h1>
    </center>
</body>
</html>