<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: orange;">
    <center>
        <h1 style="background-color: brown; color:orange">TEMPER</h1>
    </center>
    <h1 style="background-color: pink;">Temper is a 2015 Indian Telugu-language action film written by Vakkantham Vamsi and directed by Puri Jagannadh. Starring N. T. Rama Rao Jr., Kajal Aggarwal and Prakash Raj, the narrative revolves around Daya, a corrupt police officer, whose life changes after a brawl that eventually leads to him stumbling upon a murder case.</h1>
    <center>
        <h1><a href="{% url 'ntr:aadhi' %}">go to aadhi</a></h1>
        <h1><a href="{% url 'aarya' %}">go to aarya</a></h1>
        <h1><a href="{% url 'bunny' %}">go to bunny</a></h1>
        <h1><a href="{% url 'chirutha' %}">go to chirutha</a></h1>
        <h1><a href="{% url 'dhruva' %}">go to dhruva</a></h1>
    </center>
</body>
</html>